@charset "UTF-8";

/* Variáveis de Cores */
:root {
    --cor1: #9844ffdd; /* Roxo Escuro */
    --cor2: #1c0043; /* Roxo Médio */
    --cor3: #5c19ba; /* Marrom */
    --cor4: #0D0D0D; /* Preto */
    --cor5: #ffffff; /* Cinza Azulado */
    --cor6: #6200ff; /* Branco (como cor adicional para contrastar) */
    --cor7: #cca8f5dd; /* Branco (como cor adicional para contrastar) */
    --cor8: #cca8f50c; /* Fundo do portfolio */
    text-align: center;    
    }
#justificado{
    text-align: justify;
}
h3{
    text-align: center;
}

#aprensetacao{
    width: 100%;    
   }

#titulo-pagina{
    font-size: 33px;
    padding: 0px 0px 20px 0px;
}

#texto-inicial{
    padding: 0px 20px;
    line-height: 1.5;
}

#sobre-mim{
    padding: 0px 20px;
    line-height: 1.5;
}

#descricao-servicos{
    padding: 0px 20px;
    line-height: 1.5;
}

/* Estilos Gerais */
html, body {
    height: 100%; /* Garante que html e body ocupem 100% da altura da janela */
    margin: 0; /* Remove margens padrão */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cor4);
    background-image: url('fundo.jpg');
    background-size: 100% auto; /* Ajusta a largura da imagem para 100% e a altura é ajustada automaticamente */
    background-position: top left; /* Posiciona a imagem no canto superior esquerdo */
    background-repeat: repeat-y; /* Repete a imagem verticalmente, para cobrir toda a altura do conteúdo */
    background-attachment: scroll; /* Permite que o fundo role com o conteúdo da página */
    color: var(--cor5);
    display: flex;
    flex-direction: column;
    
}


header {    
    background-image: url('https://capsule-render.vercel.app/api?type=waving&color=9B30FF&height=120&section=header');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir o elemento */
    background-position: center; /* Centraliza a imagem no elemento */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 80px; /* Define a altura do nav conforme a imagem */
    color: var(--cor5);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--cor2);
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: var(--cor1);
}

/* Estilos para a Seção de Contato */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--cor5);
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: var(--cor1);
    color: var(--cor5);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--cor3);
}

/* Estilos para a Seção de Serviços */
#services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services > div {
    text-align: center;
    max-width: 800px;
}

/* Estilos para a Seção de Portfólio */
#portfolio {
    padding: 20px;
    background-color: var(--cor8);
    border-radius: 8px;
}

.portfolio-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.portfolio-item .portfolio-text, 
.portfolio-item .portfolio-image {
    flex: 1;
    padding: 10px;
}

.portfolio-item .portfolio-image {
    text-align: right;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.portfolio-item.reversed {
    flex-direction: row-reverse;
}

.portfolio-item.reversed .portfolio-text {
    text-align: left;
}

.portfolio-item.reversed .portfolio-image {
    text-align: left;
}


/* Estilos Específicos para Dispositivos Retrato */
@media (orientation: portrait) {
    .portfolio-item {
        flex-direction: column;
        text-align: center;
    }

    .portfolio-item .portfolio-text, 
    .portfolio-item .portfolio-image {
        padding: 10px 0;
    }

    .portfolio-item .portfolio-image img {
        max-width: 90%;
        margin: 0 auto;
    }
  
    main {
        flex: 1;
        padding: 20px;
        max-width: 720px;
        margin: 60px auto 0; /* Adiciona margem superior para acomodar o cabeçalho fixo */
    }
    nav ul li {
        margin: 0 7px;
        font-size: 14px;
        
    }
    /* Estilos para a Foto de Perfil */
.profile-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 200px; /* Ajuste conforme necessário */
}

.profile-pic {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: 150px; /* Manter a altura igual à largura para manter a forma circular */
    border-radius: 50%; /* Faz a imagem ser redonda */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
    border: 3px solid var(--cor1); /* Opcional: Adiciona uma borda ao redor da imagem */
}
.desktop-text{
    display: none;
}
.hover-message{
    display: none;
}
/* Para navegadores baseados em WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: var(--cor5); /* Cor do fundo da trilha da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: var(--cor1); /* Cor da parte móvel da barra de rolagem */
    border-radius: 6px; /* Arredondamento das bordas da parte móvel */
}

/* Para navegadores baseados em Firefox */
html {
    scrollbar-color:  var(--cor1) var(--cor5); /* Cor da parte móvel e do fundo da barra de rolagem */
    scrollbar-width: thin; /* Define a largura da barra de rolagem */
}
.ajuste-mobile{
    display: none;    
}
.portfolio-item .portfolio-text {
    text-align: left;
}
}

/* Estilos Específicos para Dispositivos Paisagem */
@media (orientation: landscape) {
    .portfolio-item {
        flex-direction: row;
        flex-wrap: wrap; /* Permite que itens se ajustem e usem mais espaço horizontal */
        justify-content: space-between;
    }

    .portfolio-item .portfolio-text, 
    .portfolio-item .portfolio-image {
        padding: 20px;
        flex: 1;
        max-width: 45%; /* Permite que os itens ocupem mais espaço sem sobrepor */
    }

    .portfolio-item .portfolio-image  img {
        max-width: 100%;
        height: auto;
    }
    
    main {
        flex: 1;
        padding: 20px;
        max-width: 1280px;
        margin: 60px auto 0; /* Adiciona margem superior para acomodar o cabeçalho fixo */
    }
    nav ul li {
        margin: 0 14px;
        font-size: 15px;
    }
    /* Estilos para a Foto de Perfil */
.profile-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 300px; /* Ajuste conforme necessário */
}

.profile-pic {
    width: 250px; /* Ajuste o tamanho conforme necessário */
    height: 250px; /* Manter a altura igual à largura para manter a forma circular */
    border-radius: 50%; /* Faz a imagem ser redonda */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
    border: 3px solid var(--cor1); /* Opcional: Adiciona uma borda ao redor da imagem */
}
#imagem-portifolio{
    filter: grayscale(100%);
    transition: filter 0.3s ease; /* Suaviza a transição */;  
      
}
#imagem-portifolio:hover{
    filter: grayscale(0%); /* Remove o efeito de preto e branco */
}
.mobile-text{
    display: none;
}
.image-container {
    position: relative;
}

.hover-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.7s ease;
    transition-delay: 0s; /* Remove o atraso quando o mouse não está sobre o elemento */
    pointer-events: none;
    text-align: center;
}

.image-container:hover .hover-message {
    opacity: 1;
    transition-delay: 0.5s; /* Adiciona um atraso de 0.3 segundos antes que a transição comece quando o mouse está sobre o elemento */
}
/* Para navegadores baseados em WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: var(--cor5); /* Cor do fundo da trilha da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: var(--cor1); /* Cor da parte móvel da barra de rolagem */
    border-radius: 6px; /* Arredondamento das bordas da parte móvel */
}

/* Para navegadores baseados em Firefox */
html {
    scrollbar-color:  var(--cor5) var(--cor1); /* Cor da parte móvel e do fundo da barra de rolagem */
    scrollbar-width: thin; /* Define a largura da barra de rolagem */
}
.ajuste-desktop{
    display: none;
}
.portfolio-item .portfolio-text {
    text-align: right;
}
}

footer {
    background-image: url('https://capsule-render.vercel.app/api?type=waving&color=9B30FF&height=120&section=footer');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir o elemento */
    background-position: bottom; /* Centraliza horizontalmente e posiciona a imagem na parte inferior */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 120px; /* Define a altura do footer conforme a imagem */
    text-align: center; /* Centraliza o texto dentro do footer */
    color: var(--cor5); /* Cor do texto */
    padding: 25px 0; /* Espaço interno no footer */
    margin-top: 30px; /* Espaço acima do footer, se necessário */
}
#copyright{
    margin-bottom: 5px;
}

#skills{
    margin: 0 0 20px 0;
} 
